@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

$fontMain: 'Montserrat', sans-serif;
$fontSecondary: 'Philosopher', sans-serif;

$textXl: 3rem;
$textLg: 2rem;
$textMd: 1.7rem;
$textSm: 1.5rem;
$textXsm: 1.25rem;

